/* 最上部のヘッダー */
.logo img {
    height: 40px !important;
}

#page {
    padding: 0px !important;
    margin: 0px !important;
    max-width: 100% !important;
}
#page-content {
    /* align-items: center !important; */
    justify-content: left !important;
    max-width: 1270px !important;
    padding: 0 !important;
    margin-left: 0px !important;
    margin-right: auto !important;
}
#region-bs-main-and-pre {
    max-width: 75% !important;
}
#frontpage-course-list {
    padding: 0px !important;
}
.col-md-3 {
    padding: 0px !important;
}
.courses.frontpage-course-list-enrolled {
    margin-right: 0px !important;
    padding: 0px !important;
}
.coursebox {
    padding: 0px !important;
    margin: 0px !important;
}
.tool_dataprivacy {
    max-width: 1270px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
/* コースの画像 (「情報セキュリティ」のみ使用している) */
.courseimage {
    width: 0px !important;
}
/* コースの画像用のスペースはpaddingで作られている模様 */
.courses.frontpage-course-list-enrolled .coursebox .info {
    padding-left: 0px !important;
}